.account-wrapper {
    margin: 0 0 75px;
    @include tablet {        
        text-align: center;
        background: #141516;
        border: 2px solid $gray_color;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 180px;
    }
    @include desktop {
        padding: 20px 64px;
        max-width: 966px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        min-height: 500px;
    }
}

.account {
    text-align: left;

    &_info {
        @include tablet {
            display: flex;
            align-items: flex-start;
        }
        @include desktop {
            margin: 0 0 30px;
        }
    }
    &_form-row {
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    &_form-row-item {
        flex-grow: 10;
        padding: 0 0 30px;
        position: relative;

        & + & {
            @include desktop {
                margin: 0 0 0 30px;
            }
        }

        .account_edit & {
            @include tablet {
                width: 100%;
            }
        }
        &__noindent {
            padding-bottom: 0;
        }
    }
    &_avatar {
        flex-shrink: 0;
        border: 2px solid #7f8a95;
        border-radius: 6px;
        margin: 0 auto 10px;
        display: block;
        @include tablet {
            margin-left: 0;
            margin-right: 30px;
        }
    }
    &_name {
        font-size: 22px;
        color: $light_color;
        text-align: center;
        display: block;
        position: relative;
        @include tablet {
            text-align: left;
        }
    }
    &_name-input[type] {
        position: absolute;
        top: -6px;
        left:50%;
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $gray_color;
        padding: 0 0 5px;
        font-size: 22px;
        background: #141516;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0);
        transition: .2s ease-in-out opacity, .001s linear visibility  .2s;
        text-align: center;
        width: auto;
        margin: auto;
        @include tablet {
            padding: 10px 0;
            top: -17px;
            text-align: left;
            left: 0;
            transform: none;
        }

        &:focus {
            background: #141516;
        }

        .account__name-edit & {
            opacity: 1;
            visibility: visible;
            transition: .2s ease-in-out opacity .001s, .001s linear visibility;
        }
    }
    &_name-edit {
        cursor: pointer;
        width: 16px;
        margin: 0 0 0 18px;
        transition: .2s ease-in-out filter;

        &:hover {
            filter: brightness(2);
        }
    }
    &_status {
        color: #4b535c;
        margin: 30px 0 0;
        font-size: 14px;
        @include desktop {
            margin: 0;
        }
    }
    &_verification {
        display: block;
        font-size: $font-size;
        color: $light_color;
        white-space: nowrap;
    }
    &_verification-icon {
        width: 16px;
        margin: 0 0 0 4px;
        vertical-align: middle;
    }
    &_bottom {
        text-align: right;
        padding: 22px 0 0;
        position: relative;
        @include desktop {
            padding: 0;
        }
    }
    &_title {
        margin: 10px 0 30px;
    }
    &_payments {
        margin: auto;
        display: block;
    }
    &_filters {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &_filters-section {
        margin: 0 0 20px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0;
        }

        &:nth-child(1) {
            order: 2;
            @include tablet {
                order: 1;
            }
        }
        &:nth-child(2) {
            order: 1;
            @include tablet {
                order: 2;
            }
        }

        .choices:nth-child(2) {
            @include tablet {
                margin-left: 20px;
            }
        }
    }
    &_controls {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &_controls-section {
        margin: 0 0 20px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-start
        }

        &__right {
            align-self: flex-end;
        }

    }
    &_edit {
        display: none;
    }
    &_columns {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    &_column {
        @include tablet {
            width: 47%;
        }
        @include desktop {
            width: 60%;
            
            & + & {
                width: 30%;
            }
        }
    }
    &_deposit-button {
        margin: 28px auto 0;
        width: 220px;
        display: block;
        @include tablet {
            margin-left: 0;
            margin-right: 0;
            display: inline-block;
        }
        @include desktop {
            margin: 0 0 0 30px;
        }
    }
    &_edit-button {
        margin: auto;
        width: 220px;
        display: block;
        @include tablet {
            margin: 0;
            display: inline-block;
        }
    }
    &_form {
        @include tablet {
            flex-grow: 1;
            margin: 0 30px;
        }
    }
    &_balance {
        @include tablet {
            margin-left: 236px;
            text-align: right;
        }
        @include desktop {
            margin-left: 0;
            text-align: left;
        }
    }
    &_edit-back {
        margin: 0 auto 15px;
        width: 220px;
        display: block;
        @include tablet {
            margin-left: 0;
            margin-right: 20px;
            display: inline-block;
        }
        @include desktop {
            margin: 0 0 0 30px;
        }
    }
    &_edit-save {
        margin: 0 auto 15px;
        width: 220px;
        display: block;
        @include tablet {
            margin-left: 0;
            margin-right: 0;
            display: inline-block;
        }
        @include desktop {
            margin: 0 0 0 30px;
        }

        &.js-toggle-name-edit {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: .2s ease-in-out opacity, .001s linear visibility .2s;
            @include tablet {
                right: 0;
                left: auto;;
                transform: none;
            }

            .account__name-edit & {
                opacity: 1;
                visibility: visible;
                transition: .2s ease-in-out opacity .001s, .001s linear visibility;
            }
        }
    }
    &_settings {
        margin: 0 0 30px;

        td + td {
            text-align: center;
        }
        td:nth-child(2) {
            width: 67px;
        }
        td:nth-child(3) {
            width: 53px;
        }
    }
    &_transactions {
        margin: 0 0 20px;
    }
}
