.appointment {
    display: none;
    @include desktop {
        display: block;
        position: absolute;
        top: 40px;
        right: 45px;
        display: flex;
    }

    &_button {
        border-radius: 50%;
        background: $bright_color;
        border: 2px solid #806b43;
        box-sizing: border-box;
        font: bold 40px $font-family__predator;
        line-height: 48px;
        height: 55px;
        width: 55px;
        text-align: center;
        padding: 0;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 10px;
            width: 10px;
            margin: -5px 0 0 -6px;
            background: rgba($bright_color, .8);
            border-radius: 50%;
            animation: 1.8s radialWave linear infinite;
            z-index: -1;
        }
        &::after {
            animation-delay: .9s;
        }
    }
    &_title {
        font-family: $font-family__heading;
        text-align: center;
        width: 100px;
        margin: 0 0 0 15px;
    }
}

@keyframes radialWave {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(4);
    }
    100% {
        opacity: 0;
        transform: scale(8);
    }
}
