.card {
    position: relative;
    display: flex;
    border-radius: 11%;
    overflow: hidden;
    width: 48%;
    margin: 0 0 22px;
    background: url(#{$img-path}/no-game.png) no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 0 1px #1a1c1e;
    @include tablet {
        width: 33%;
        border-radius: 7%;
    }
    @include desktop {
        width: 20%;
        margin: 0%;
        .dashboard_grid &,
        .dashboard_items & {
            width: 100%;
        }
    }

    &__locked {
        transition: .2s ease-in-out box-shadow;
        &:hover {
            box-shadow: 0 0 0 1px #212426;
        }

        &::after {
            content: '';
            background: rgba(0, 0, 0, .8);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }

        &::before {
            content: '';
            background: url(#{$img-path}/icons/lock-game.svg) no-repeat center center;
            background-size: auto 50%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            transition: .2s ease-in-out filter;
            z-index: 2;
        }
        &:hover::before {
            filter: brightness(1.1);
        }
    }

    //.dashboard_items & {
    //    width: 48%;
    //    margin: 0 0 22px;
    //    @include tablet {
    //        width: 30%;
    //    }
    //    @include desktop {
    //        margin: 0 0 40px;
    //        width: 18%;
    //    }
    //}

    &_image {
        width: 101%;
        height: 103%;
        object-fit: cover;
        border-radius: 15px;
        margin: -2px 0 0;
    }
    &_info {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(#000, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .2s ease-in-out opacity;

        .card:hover & {
            opacity: 1;
        }
    }
    &_title {
        color: $light_color;
        margin: 0 0 20px;
    }
    &_button {
       @include button; 
    }
    &_stripe {
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        height: 20px;
        padding: 4px 0;
        font-size: 10px;
        line-height: 1;
        font-weight: bold;
        color: $light_color;
        text-align: center;
        width: 100px;
        text-transform: uppercase;
        transform: rotate(45deg) translate(25%, -25%);

        &__hot {
            background: linear-gradient(to bottom, #e8332e, #d12c1c);
        }
        &__new {
            background: linear-gradient(to bottom, #417bc2, #3e75b3);
        }
        &__top {
            background: linear-gradient(to bottom, #f1d90e, #e6b31c);
        }
        &__hit {
            background: linear-gradient(to bottom, #23b91e, #2a9b26);
        }
    }
    &_stripe-icon {
        height: 12px;
        vertical-align: -2px;
        margin: 0 5px 0 0;
    }
}
