.contacts {
    font-size: 14px;
    font-weight: 300;
    color: $gray_color;
    @include tablet {
        font-size: $font-size__small;
    }

    P {
        background-size: 16px auto;
        padding: 0 0 0 30px;
        margin: 0 0 20px;
    }
    &_address {
        background: url(#{$img}/marker.svg) no-repeat 0 center;
        max-width: 250px;
    }
    &_time {
        background: url(#{$img}/time.svg) no-repeat 0 center;
        max-width: 200px;
    }
    &_phone {
        background: url(#{$img}/phone.svg) no-repeat 0 center;
    }
    &_email {
        background: url(#{$img}/email.svg) no-repeat 0 center;
    }

    .sidebar & {
        display: none;
        @include tablet {
            display: block;
        }
    }
}
