.gallery {
    text-align: center;
    min-width: 0;
    @include tablet {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    @include desktop {
        grid-template-columns: 30% 70%;

        display: flex;
        flex-wrap: wrap;
    }

    &_title {
        @include tablet {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        @include desktop {
            flex-grow: 1;
        }
    }
    &_slider {
        @include tablet {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        @include desktop {
            width: 100%;
            position: relative;
        }
    }
    &_info {
        text-align: left;
        margin: 0 0 24px;
        @include tablet {
            grid-column: 1 / 2;
            grid-row: 1 / 5;
            display: flex;
            align-items: center;
            margin: 0;
        }
        @include desktop {
            flex-grow: 2;
            max-width: 60%;
            position: relative;
        }
    }
    &_info-content {
        @include desktop {
            height: 100%;
        }
    }
    &_info-image-wrapper {
        position: relative;
        @include desktop {
            height: 100%;
        }
    }
    &_image {
        @include desktop {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_info-meta {
        position: absolute;
        left: 30px;
        bottom: 115%;
        @include desktop {
            position: relative;
            display: inline-block;
            left: 0;
            bottom: 0;
            text-align: left;
        }
    }
    &_info-date {
        @include desktop {
            position: absolute;
            left: 0;
            bottom: 105%;
        }
    }
    &_info-title {
        font: italic 300 #{$font-size__small}/1.2 $font-family__heading;
        text-transform: uppercase;
        margin: 0 0 5px;
        position: relative;
        @include desktop {
            display: inline-block;
            text-align: left;
            margin-bottom: 20px;
        }
        @include media(1500px) {
            font-size: 31px;
        }

        &::after {
            content: '';
            background: $bright_color;
            height: 2px;
            width: 50px;
            position: absolute;
            top: 50%;
            right: 105%;
        }
        strong {
            display: block;
        }
    }
    &_info-date {
        background: url(#{$img}/calendar.svg) no-repeat 0 center;
        background-size: 13px auto;
        padding: 5px 0 5px 20px;
        font: 500 10px $font-family;
        margin: 0;
        color: $bright_color;
    }
    &_info-text {
        display: none;
        background: #1c1c1c;
        padding: 30px 30px 30px;
        position: relative;
        @include tablet {
            display: block;
            padding: 10px 30px 1px;
        }
        @include desktop {
            position: absolute;
            right: 100%;
            bottom: 30%;
            background: transparent;
            width: 300px;
            text-align: right;
        }

        p:not([class]) {
            margin: 0 0 20px;
            font-size: 13px;
        }
    }
    &_controls {
        background: #1c1c1c;
        display: flex;
        align-items: center;
        padding: 8px 15px;
        @include tablet {
            justify-content: space-between;
            padding: 13px 15px;
        }
        @include desktop {
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 40%;
            box-sizing: border-box;
        }
    }   
    &_navigation {
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-grow: 1;
        margin: 0 15px 0 0;
        @include tablet {
            justify-content: flex-start;
        }
    }
    &_buttons {
        flex-shrink: 0;
    }
    &_progress {
        width: 100%;
        height: 3px;
        background: #404040;
        flex-grow: 1;
    }
    &_progress-value {
        height: 100%;
        background: $bright_color;
    }
    &_count {
        height: 26px;
        width: 35px;
        margin: 0 0 0 10px;
        position: relative;
        flex-shrink: 0;
        @include tablet {
            margin: 0 0 0 15px;
        }

        &::after {
            content: '';
            background: #404040;
            width: 2px;
            height: 100%;
            position: absolute;
            left: 55%;
            top: 0;
            transform: rotate(25deg);
        }
    }
    &_count-value {
        color: $bright_color;
        font: italic 600 12px $font-family__heading;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_count-total {
        font: italic 12px $font-family__heading;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
