.pages {
    word-spacing: -2px;

    &_link {
        display: inline-block;
        border-radius: 8px;
        border: 2px solid $gray_color;
        color: $gray_color;
        height: 28px;
        line-height: 26px;
        min-width: 28px;
        text-align: center;
        transition: .2s ease-in-out color, .2s ease-in-out background;

        &:hover,
        &__active {
            background: $gray_color;
            color: $color;
        }

        &__disabled {
            opacity: .5;
        }
    }
}
