$max-height: 980px;
.services {
    @include mediaHeight($max-height) {
        width: 690px;
    }

    &_title {
        margin: 0 0 40px;
        @include tablet {
            margin-left: 55px;
        }
        @include mediaHeight($max-height) {
            margin-bottom: 60px;
        }
    }
    &_list {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 0 0 25px;
        }
    }
}

.service {
    margin: 0 0 40px;
    @include tablet {
        width: 45%;
    }
    @include mediaHeight($max-height) {
        width: 100%;
    }

    &_title {
        margin: 0 0 20px;
        text-transform: uppercase;
    }
    &_title-text {
        position: relative;

        &::before {
            content: '';
            width: 29px;
            height: 3px;
            background: $bright_color;
            position: absolute;
            top: 55%;
            right: 120%;
        }
        &::after {
            content: '';
            width: 29px;
            height: 3px;
            background: $bright_color;
            position: absolute;
            top: 55%;
            left: 120%;
            @include tablet {
                display: none;
            }
        }
    }
    &_content {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &_button {
        color: $bright_color;
        border: 1px solid currentColor;
        border-radius: 30px;
        font: italic 10px $font-family__heading;
        padding: 10px 20px;
        white-space: nowrap;
        transition: .2s ease-in-out filter;
        @include tablet {
            margin: -30px 0 0 15px;
        }

        &:hover {
            filter: brightness(2);
        }

        &::after {
            content: '';
            background: url(#{$img}/play.svg) no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: 14px;
            height: 14px;
            vertical-align: -3px;
            margin: 0 0 0 6px;
        }
    }
    &_video {
        display: none;
    }
}
