.user {
    display: flex;
    align-items: center;

    &_info {
        text-align: right;
    }
    &_nickname {
        color: $light_color;
        font-size: 18px;
        display: block;
        margin: 0 0 5px;
    }
    &_balance {
        margin: 0 2px 0 0;
    }
    &_balance-add {
        position: relative;
        color: $bright_color;
        margin: 0 18px 0 0;

        &::after {
            content: '+';
            position: absolute;
            top: -11px;
            right: -10px;
            font-size: 22px;
            text-shadow: 0 0 2px $bg_color;
        }
    }
    &_balance-value {
        
    }
    &_balance-sum {
        
    }
    &_avatar {
        border-radius: 50%;
        margin: 0 15px;
        transition: .2s ease-in-out filter;

        &:hover {
            filter: brightness(1.5);
        }
        &:active {
            filter: brightness(0.8);
        }
    }
    &_logout {
        display: none;
        transition: .2s ease-in-out filter;
        @include tablet {
            background: url(#{$img-path}/icons/logout.svg) no-repeat center center;
            background-size: 100% auto;
            display: inline-block;
            width: 20px;
            height: 20px;
        }

        &:hover {
            filter: brightness(3);
        }
        &:active {
            filter: brightness(1.5);
        }
    }
}
