.widget {
    background: rgba($dark_color, .75);
    border: 1px solid rgba(#fff, .05);
    box-shadow: 0px 6px 60px 4px rgba(0, 0, 0, 0.39);
    padding: 15px 20px;
    z-index: 3;
    position: relative;
    @include tablet {
        padding: 15px 40px;
    }
    @include desktop {
        min-width: 280px;
        padding: 45px 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(60px, -50%);
    }

    &::after {
        content: 'contact info';
        color: rgba(#dbdbdb, .02);
        font: 900 80px/1 $font-family;
        text-transform: uppercase;
        position: absolute;
        left: 97%;
        bottom: 63%;
        text-align: right;
        transform-origin: 0 0;
        transform: rotate(90deg);
    }
      
    &_navigation {
        position: absolute;
        bottom: 100%;
        right: -4px;
        white-space: nowrap;
        margin: 0 0 0 1px;
        @include desktop {
            top: 0;
            left: 100%;
            bottom: auto;
            right: auto;
            transform-origin: 0 0;
            transform: rotate(90deg) translate(0, -100%);
        }
    }
    &_navigation-button {
        background: url(#{$img}/tab-bg.svg) no-repeat 0 0;
        background-size: 100% 100%;
        box-sizing: border-box;
        height: 35px;
        width: 140px;
        border: none;
        border-radius: 0;
        display: inline-block;
        color: #fff;
        font-family: $font-family__heading;
        text-transform: uppercase;
        padding: 11px 30px 10px 15px;
        z-index: 1;
        position: relative;
        filter: grayscale(2) invert(.3) brightness(.5);
        transition: .2s ease-in-out filter, .1s ease-in-out color;
        @include tablet {
            background-size: auto 100%;
            width: 155px;
        }

        &.active, 
        &:hover {
            color: $bright_color;
            filter: grayscale(0) invert(0) brightness(1);
        }
        &.active {
            z-index: 2;
        }

        & + & {
            margin: 0 0 0 -20px;
        }
    }
    &_tab {
        display: none;

        &.active {
            display: block;
            width: 100%;
        }
    }

}
