.winners {
    width: 100%;
    @include desktop {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .dashboard_grid__with-widget & {
        @include desktop {
        grid-row-start: 2;
        grid-row-end: 5;
    }
    }

    &_holder {
        border: 2px solid $bright_color;
        border-radius: 13px;
        padding: 10px 10px 20px 10px;
        text-align: center;
    }
    &_image {
        border-radius: 13px;
        width: 100%;
    }
    &_info {
        margin: -16px auto 10px;
        display: flex;
        max-width: 440px;
        justify-content: space-between;
        font-size: $font-size__small;
        @include tablet {
            padding: 0 8px;
            margin-bottom: 20px;
            font-size: $font-size;
        }
    }
    &_info-field {
        border: 2px solid $bright_color;
        border-radius: 12px;
        padding: 8px;
        color: $light_color;
        background: $bg_color;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        @include tablet {
            padding: 8px 25px;
            font-size: 18px;
        }
    }
    &_info-icon {
        height: 23px;
        margin: 0 4px 0 0;
        @include tablet {
            margin-right: 20px;
        }
        @include desktop {
            margin-right: 15px;
        }
    }
    &_tables {
        margin: 0 8px 10px;
        @include tablet {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
    &_table {
        @include tablet {
            width: 48%;
            &:first-child {
                margin-right: 12px;
            }
            &:last-child {
                margin-left: 12px;
            }
        }

        td {
            border: none;
            border-top: 1px solid $bright_color;
            padding: 5px 0;
            width: 40px;
            white-space: nowrap;
            font-size: 14px;
            @include tablet {
                padding: 10px 0;
                font-size: 16px;
            }

            &:nth-child(2) {
                color: $light_color;
            }
            &:nth-child(3) {
                color: $bright_color;
                text-align: right;
            }
        }
        &:first-child tr:first-child td {
            border-top: none;
        }
        tr:first-child td {
            @include tablet {
                border-top: none;
            }
        }
    }
    &_button {
        @include button;
        margin: 4px auto 0;
    }
}
