.fade {
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    visibility: hidden;
    overflow: auto;
    padding: 10px;
    transition: .2s ease-in-out opacity .1s,
                .0001s ease-in-out visibility .2s;
    @include tablet {
        height: 100vh;
    }

    .popup-opened & {
        opacity: 1;
        visibility: visible;
        transition: .2s ease-in-out opacity .2s,
                    .0001s ease-in-out visibility;
    }
}

.popup-opened {
    overflow: hidden;
}
