.footer {
    position: absolute;
    left: 65px;
    right: 65px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_menu-link {
        font-size: $font-size__small;
        font-weight: 400;
        margin: 0 0 0 60px;
    }
}

.copyright {
    font-size: $font-size__small;
    font-weight: 300;
}
