%heading-1 {
    font: 41px $font-family__heading;
    margin: 40px 0 20px;
    @include tablet {
        font-size: 58px;
    }
}
%heading-2 {
    font: 18px $font-family;
    margin: 40px 0 20px;
    @include tablet {
        font: 22px $font-family;
    }
}
%heading-3 {
    font: 38px $font-family__heading;
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
