%heading-1 {
    font: 41px $font-family__heading;
    margin: 40px 0 20px;
    @include tablet {
        font-size: 58px;
    }
}
%heading-2 {
    font: italic 200 #{25px}/1 $font-family__heading;
    margin: 0 0 20px;
    @include tablet {
        font-size: 31px;

    }
}
%heading-3 {
    font: italic #{26px}/1 $font-family__heading;
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
