.lang {
    background: url(#{$img-path}/planet.svg) no-repeat 0 center;
    background-size: 15px auto; 
    padding: 0 0 0 45px;

    &_item {
        font: 300 #{22px}/72px $font-family__heading;
        text-transform: uppercase;
        margin: 0 30px 0 0;
        vertical-align: middle;

        &.active {
            font-size: 24px;
            font-weight: bold;
            color: $bright_color;
        }
    }
}
