.logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);

    &_icon {
        margin: 0 25px 0 0;
        width: 70px;
        vertical-align: middle;
    }
    &_title {
        width: 196px;
        vertical-align: middle;
    }
}
