.menu {
    margin: 0 50px 0 0;
    width: 220px;
    position: relative;
    @include tablet {
        &::before {
            content: '';
            background: url(#{$img}/dots-bg.png) 0 0 repeat-y;
            background-size: auto 100%;
            width: 90px;
            height: 160px;
            position: absolute;
            right: 100%;
            top: 0;
            margin: 24px 30px 0 0;
        }
    }


    &_link {
        display: block;
        font: 300 19px $font-family__heading;
        padding: 24px 0;
        position: relative;
        text-transform: uppercase;

        &::after {
            content: '';
            border-bottom: 2px solid $bright_color;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin: 15px 0 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: .2s ease-in-out transform;
        }

        &:hover,
        &.active {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}
