.page-404 {
    background: url(#{$img-path}/404-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_holder {
        max-width: 370px;
        padding: 0 20px;
        margin: auto;
        text-align: center;
        color: $light_color;
    }
    &_icon {
        margin: 0 0 10px;
    }
    &_title {
        font-size: 35px;
        font-weight: 600;
        margin: 0 0 25px;
    }
    &_text {
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 30px;
    }
    &_link {
        @include button;
        display: inline-block;
        min-width: 220px;
    }
}
