body {
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.pages-container {
    overflow: hidden;
    height: 100%;
}

.page {
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 100px 20px 40px;
    transform: translateY(-100%) ;
    transform-origin: center 0%;
    transition: .5s ease-in-out transform, .5s ease-in-out transform-origin;
    will-change: transform;
    @include tablet {
        padding: 100px 40px 40px;
    }
    @include desktop {
        min-height: 0;
        bottom: 0;
        padding: 140px 160px 40px;
        isolation: isolate;
    }

    &.active {
        transform: translateY(0) rotateX(0deg);
        z-index: 1;
        transform-origin: center 100%;
    }
    &.active ~ & {
        transform: translateY(100%) rotateX(45deg);
    }

    &_title-mobile {
        padding: 30px 0 10px;
        @include tablet {
            display: none;
        }
    }
    &__main {
        padding: 0;
        z-index: 3;
        overflow: hidden;

        &.active {
            z-index: 3;
            transform: translateY(0) rotateX(0deg);
        }
        &.active ~ & {
            transform: translateY(100%) rotateX(0deg);
        }
    }
    &__about {
        background: url(#{$img}/about-bg.jpg) no-repeat center center;
        background-size: cover;
        text-align: center;
        @include tablet {
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }
    &__services {
        background: url(#{$img}/services-bg.jpg) no-repeat center center;
        background-size: cover;
        text-align: center;
        @include tablet {
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__pricelist {
        background: url(#{$img}/pricelist-bg.jpg) no-repeat center center;
        background-size: cover;
        text-align: center;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__gallery {
        background: url(#{$img}/gallery-bg.jpg) no-repeat center center;
        background-size: cover;
        text-align: center;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include desktop {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            align-items: flex-end;
        }
    }
    &__partners {
        text-align: center;
        background: url(#{$img}/partners-bg.jpg) no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 150px;
    }
    &__contacts {
        padding-top: 140px;
        @include tablet {
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include desktop {
            padding: 0;
            display: block;
        }
    }
}
