.showcase {
    position: relative;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    transition: 1s ease-in-out transform, .3s ease-in-out opacity .5s;
    @include tablet {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .scaled & {
        @include tablet {
            transform: scale(30) translateY(5%);
            opacity: 0;
        }
    }
    
    &_video {
        display: none;
        @include tablet {
            display: block;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 65vw;
            transform: translate(-50%, -50%);
        }
    }
    &_image {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include tablet {
            display: none;
        }
    }
    &_bg {
        background: $dark_color url(#{$img}/showcase-bg-mobile.png) center 15% no-repeat;
        background-size:auto 60%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .3s ease-in-out transform;
        z-index: 3;
        @include tablet {
            background: transparent;
        }

        .showcase.scrolled & {
            transform: translateY(-100%);
        }

        //&::before {
        //    content: '';
        //    position: absolute;
        //    top: 0;
        //    right: 0;
        //    width: 220px;
        //    height: 90px;
        //    background: url(#{$img}/pluses-bg.png) 100% 0 no-repeat;
        //    background-size: 100% auto;
        //    @include tablet {
        //        display: none;
        //    }
        //}
        //&::after {
        //    content: '';
        //    position: absolute;
        //    bottom: 0;
        //    left: 0;
        //    width: 165px;
        //    height: 212px;
        //    background: url(#{$img}/lines-bg.png) 0 100% no-repeat;
        //    background-size: 100% auto;
        //    @include tablet {
        //        display: none;
        //    }
        //}
    }
    &_logo {
        display: none;
        @include tablet {
            display: flex;
            justify-content: center;
            position: absolute;
            //width: 65vw;
            height: 106vh;
            top: 50%;
            left: 50%;
            transform-origin: center center;
            transform: translate(-50%, -50%);
            z-index: 3;
            @include tablet {
                box-shadow: 0 0 0 500px $dark_color;
            }

            &::before {
                content: '';
                background: $dark_color /*url(#{$img}/pluses-bg.png) 0 30% no-repeat*/;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 200%;
                left: 95%;
                z-index: 2;
            }
            &::after {
                content: '';
                background: $dark_color /*url(#{$img}/lines-bg.png) 100% 100% no-repeat*/;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 200%;
                right: 95%;
                z-index: 2;
            }
        }
    }
    &_logo-image {
        //position: absolute;
        height: 100%;
        object-fit: cover;
        transform-origin: center center;
        z-index: 1;
    }
    &_mouse {
        position: absolute;
        padding: 0 0 120px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 3;
        @include tablet {
            left: 80%;
            transform: none;
        }

        &::after {
            content: '';
            background: #484848;
            width: 1px;
            position: absolute;
            top: 80%;
            bottom: 0;
            left: 46%;
        }
    }
    &_mouse-icon {
        width: 20px;
        animation: mouse 1.2s ease-out infinite;
    }
    &_mouse-text {
        font: 20px $font-family__heading;
        text-transform: uppercase;
        transform-origin: 100% 0;
        transform: rotate(-90deg);
        position: absolute;
        left: -63px;
        top: 47px;
    }

    &_mobile-video {
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        z-index: 2;
        display: flex;
        justify-content: center;
        @include tablet {
            display: none;
        }

        iframe {
            margin: auto;
            width: 90vw;
        }

        .showcase.scrolled ~ & {
            z-index: 4;
        }
    }
    &_mobile-video-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        @include tablet {
            display: none;
        }

        .showcase.scrolled ~ & {
            z-index: 3;
        }
    }
}

@keyframes mouse {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    75% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
