.slider {
    &_column {
        width: 100%;
        @include tablet {
            display: inline-block;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    &_item {
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin: 0 0 15px;
        @include desktop {
            margin: 0;
        }

        &:first-child {
            @include desktop {
                margin-right: 10px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid transparent;
            transition: .2s ease-in-out margin, .2s ease-in-out border;
        }
        &.active:after,
        &:hover::after {
            border-color: $bright_color;
            margin: 5px;
        }
    }
    &_item-meta {
        display: none;
    }
    &_image {
        width: 100%;
    }
}
