.title {
    @extend %heading-1;
    max-width: 620px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 20px;
    @include tablet {
        margin-bottom: 45px;
    }

    &__small {
        max-width: 85%;
        margin-bottom: 25px;
    }

    .popup & {
        @include tablet {
            margin-bottom: 25px;
        }
    }

    &_text {
        position: relative;

        &::before {
            content: '';
            border-top: 2px solid $bright_color;
            position: absolute;
            right: 95%;
            top: 45%;
            width: 500px;
            margin-right: 20px;
            @include tablet {
                margin-right: 36px;
            }
        }
        &::after {
            content: '';
            border-top: 2px solid $bright_color;
            position: absolute;
            left: 95%;
            top: 45%;
            width: 500px;
            margin-left: 16px;
            @include tablet {
                margin-left: 36px;
            }
        }
    }
    &_bright {
        color: $bright_color;
    }
}
