.title {
    padding: 30px 0 0;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -5px;
        transform: translate(-50%, 0);
        height: 6px;
        width: 162px;
        background: url(#{$img}/dots.svg) no-repeat center center;
        background-size: 100% auto;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate(-50%, 0);
        height: 55px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }

    &__shaver {
        &::after {
            background-image: url(#{$img}/shaver.svg);
        }
    }
    &__instruments {
        &::after {
            background-image: url(#{$img}/instruments.svg);
        }
    }
    &__mustache {
        &::after {
            background-image: url(#{$img}/mustache.svg);
        }
    }
    &__hairbrush {
        &::after {
            background-image: url(#{$img}/hairbrush.svg);
        }
    }
    &__scissors {
        &::after {
            background-image: url(#{$img}/scissors.svg);
        }
    }
}
