html {
    scroll-behavior: smooth;
}

body {
    background: $bg_color;
    color: $color;
    font: 200 #{$font-size} $font-family;
    @include tablet {
        background-size: 100% auto;

    }
}

a {
    color: $color;
    text-decoration: none;
    transition: .2s ease-in-out color;

    &:hover,
    &.hover {
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }
}

p {
    margin: 0 0 30px;
}

ul,
ol {
    padding: 0 0 0 20px;
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bright {
    color: $bright_color;
}
