@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,900|Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,latin-ext');


@font-face {
    font-family: 'Predator';
    src: url('src/fonts/predator.woff2') format('woff2'),
         url('src/fonts/predator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
