$img-path: "../img";

$bg_color: #1C1A28;
$bg_color__alt: #231e1e;

$color: #7f8a95;
$dark_color: #1e2124;
$gray_color: #24282d;
$light_color: #fff;
$bright_color: #d92d2f;
$bright_color__hover: #af1e20;
$bright_color__active: #911f23;
$bg_color: #0f0f0f;
$input_color: #373e44;

$font-family: 'Acumin', 'Myriad Pro', sans-serif;

$font-size: 16px;
$font-size__small: 14px;

$max-width: 1168px;
$layout_indent: 10px;
