$img-path: "src/img";

$bg_color: #242424;

$color: #fff;
$gray_color: #dbdbdb;
$dark_color: #202020;
$bright_color: #8f7b54;
$input_color: #373e44;

$font-family: 'Montserrat', sans-serif;
$font-family__heading: 'Oswald', sans-serif;
$font-family__predator: 'Predator';

$font-size: 18px;
$font-size__small: 16px;

$max-width: 1160px;
$layout_indent: 10px;
