.bright-button {
    display: inline-block;
    width: 190px;
    line-height: 60px;
    height: 60px;
    animation: 0.5s linear lights infinite;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    background-size: 100% auto;
    background-position: center center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .2s ease-in-out filter, .2s ease-in-out opacity;
    @include desktop {
        font-size: 23px;
        width: 280px;
        height: 87px;
    }

    &:hover {
        color: $light_color;
        filter: saturate(1.4);
    }
    &:active {
        opacity: .7;
    }
}

@keyframes lights {
    0% {
        background-image: url(#{$img-path}/button-bg-1.png);
    }
    100% {
        background-image: url(#{$img-path}/button-bg-2.png);
    }
}
