.phone {
    position: relative;

    &_code {
        background: #191b1d;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        padding: 4px 10px;
        color: $light_color;
        border-radius: 8px;
        display: flex;
        align-items: center;

        input[disabled] + & {
            opacity: .3;
        }
    }
    &_flag {
        width: 30px;
        margin: 0 15px 0 0;
    }
    input[type="tel"] {
        padding-left: 115px;
    }
}
